* {
  font-family: cursive;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuNav {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1em;
  align-items: center;
}

.infolorem {
  font-size: xx-large;
  margin: 10px;
}

.quotestyle {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: xx-large;
  text-align: center;
  width: 73%;
}

.Tittle {
  font-size: xxx-large;
}

.styleCalculator {
  display: flex;
  flex-direction: column;
}

.styleoutput {
  display: flex;
  flex-direction: row-reverse;
  background: #858693;
  color: white;
  height: 3em;
  align-items: center;
  width: 19.2em;
}

.stylebuttoms {
  display: flex;
  flex-direction: row;
}

button {
  background: #e0e0e0;
  border: 0.5px solid #d1d1d1;
  width: 4em;
  height: 3em;
  font-size: larger;
}

.buttonfunction {
  background: #f28241;
}

.stylebottomcalculator {
  display: flex;
}

.buttonZero {
  width: 153.5px;
}

.positionCal {
  position: absolute;
  left: 60%;
}
