
.styleCalculator {
  display: flex;
  flex-direction: column;
}

.App {
  position: absolute;
  left: 30%;
  top: 30%;
}

.styleoutput {
  display: flex;
  flex-direction: row-reverse;
  background: #858693;
  color: white;
  height: 3em;
  align-items: center;
}

.stylebuttoms {
  display: flex;
  flex-direction: row;
}

button {
  background: #e0e0e0;
  border: 0.5px solid #d1d1d1;
  width: 4em;
  height: 3em;
  font-size: larger;
}

.buttonfunction {
  background: #f28241;
}

.stylebottomcalculator {
  display: flex;
}

.buttonZero {
  width: 50%;
}
